body{
    font:15px Arial,Helvetica,Sans-serif;
    padding: 0px;
    margin: 0px;
    background-color: #f4f4f4;
}
/* estilos generales*/
.contenedor{
    width:80%;
    margin:auto;
    overflow:hidden;
}
ul{
    margin:0;
    padding:0;
}
.boton{
    height:38px;
    background-color: #e8491d;
    border:0px;
    padding-left:20px;
    padding-right: 20px;
    color:#fff;
}
/*estilos del encabezado*/
header{
    background-color:#24282b;
    color:#fff;
    padding-top:30px;
    min-height:70%;
    border-bottom:5px solid #1293d4;
}
header a{
    color:#fff;
    text-decoration:none;
    text-transform: uppercase;
    font-size:16px;
 }
 header li{
    float:left;
    display: inline;
    padding: 0 20px 0 20px;
 }
 header #marca{
    float:left;
 }
header #marca h1{
   margin:0;
}
header nav{
   float:right;
   margin-top: 10px;
}
header .resaltado, header .actual a{
   color: #CB4535;
   font-weight:bold;
}
header a:hover {
    color:#ccc;
    font-weight:bold;
}
/*estilo cabecera*/
#cabecera{
    min-height:400px;
    background: url("../images/Banner.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    text-align: center;
    color:#fff;
}
#cabecera h1{
    margin-top: 90px;
    font-size: 55px;
   margin-bottom:10px;
}
#boletin{
   padding:15px;
   color:#fff;
   background:#24282b;
}
#boletin h1{
   float:left;
}
#cajas{
    margin-top: 20px;
 }
 #cajas .caja{
    float:left;
    text-align: center;
    width:30%;
 }
 #cajas .caja img{
    width:90px;
 }
 #cajas .caja h1,h2,h3{
    color:#0A080A;
 }
 aside#lateral{
    float:right;
    width: 30%;
    margin-top:5%;
 }
 aside#lateral1{
    float:right;
    width: 30%;
    margin-top:5%;
 }
 aside#lateral2{
    float:right;
    width: 30%;
    margin-top:5%;
 }
 .oscuro{
    padding:15px;
   background-color:#32424a;
   color:#fff;
   margin-top: 10px;
   margin-bottom: 10px;
   align-content: center;
}
.claro{
   padding:0px;
   background-color: #f4f4f4;
   margin-top: 10px;
   margin-bottom: 10px;
   align-content: center;
}
/*estilo para columna principal*/
article#col-principal {
    float: left;
    width: 65%;
}

ul#servicios li {
    list-style: none;
    padding: 20px;
    border: 1px solid #ccc;
    margin-bottom: 5px;
    background-color: #e6e6e6;
}
input, label {
    font-weight: bold;
}

input, textarea {
    width: 100%;
    height: 35%;
    border: 1px solid gray;
}

textarea {
    height: 120px;
}
input[type="submit"] {
    background-color: #e8491d;
    color: #fff;
}

footer {
    padding: 20px;
    margin-top: 20px;
    color: #fff;
    background-color: #1293d4;
    text-align: center;
}
@media (max-width: 750px) {
    header #marca,
    header nav,
    header nav li,
    #boletin h1,
    #boletin form,
    #cajas .caja,
    article#col-principal,
    aside#lateral,
    aside#lateral1,
    aside#lateral2 
    {
        float: none;
        text-align: center;
        width: 100%;
    }
}
header {
    padding-bottom: 20px;
}

#boletin h1 {
    margin-top: 40px;
}

input, textarea {
    width: 98%;
}

img {
    width: 100%;
}